<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anta&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>MyCinema</title>
  </head>
  <body>
    <header id="hero">
      <div class="hero-container">
        <div class="title">
          <h1 class="title-text">Welcome to MyCinema</h1>
          <h4 class="author">Cristian's Movies/Series Notes</h4>
        </div>
      </div>
      <form id="selector-form" action="/type" method="post">
        <button class="btn s-btn" type="submit" name="selector" value="movies">
          Movies
        </button>
        <button class="btn s-btn" type="submit" name="selector" value="series">
          Series
        </button>
      </form>
    </header>

    <main>
      <section id="top-list">
        <h2 class="sub-title">My Favourites</h2>
        <div class="container">
          <div class="card">
            <img
              src="https://m.media-amazon.com/images/M/MV5BMjUyNTA3MTAyM15BMl5BanBnXkFtZTgwOTEyMTkyMjE@._V1_SX300.jpg"
              alt="The Maze Runner"
            />
          </div>
          <div class="card">
            <img
              src="https://m.media-amazon.com/images/M/MV5BMjUyNTA3MTAyM15BMl5BanBnXkFtZTgwOTEyMTkyMjE@._V1_SX300.jpg"
              alt="The Maze Runner"
            />
          </div>
          <div class="card">
            <img
              src="https://m.media-amazon.com/images/M/MV5BMjUyNTA3MTAyM15BMl5BanBnXkFtZTgwOTEyMTkyMjE@._V1_SX300.jpg"
              alt="The Maze Runner"
            />
          </div>
          <div class="card">
            <img
              src="https://m.media-amazon.com/images/M/MV5BMjUyNTA3MTAyM15BMl5BanBnXkFtZTgwOTEyMTkyMjE@._V1_SX300.jpg"
              alt="The Maze Runner"
            />
          </div>
          <div class="card">
            <img
              src="https://m.media-amazon.com/images/M/MV5BMjUyNTA3MTAyM15BMl5BanBnXkFtZTgwOTEyMTkyMjE@._V1_SX300.jpg"
              alt="The Maze Runner"
            />
          </div>
        </div>
      </section>

      <section id="posts">
        <% posts.forEach(post => { %>
        <div class="post-container">
          <div class="post-heading">
            <h2 class="name"><%= post.title %></h2>
            <div class="btns-div">
              <button class="btn-action">
                <img
                  class="icon"
                  src="/assets/images/edit.png"
                  alt="Edit Post"
                />
              </button>
              <button class="btn-action">
                <img
                  class="icon"
                  src="/assets/images/delete.png"
                  alt="Delete Post"
                />
              </button>
            </div>
          </div>
          <div class="post-info">
            <div class="poster">
              <img
                src=<%= post.poster %>
                alt="<%= post.title %> Poster"
              />
              <h3 class="score">⭐ My Score: <%= post.my_score %>/10 ⭐</h3>
            </div>
            <div class="content">
              <h4 class="info inline">Release Year: <%= post.release_year %></h4>
              <h4 class="info inline">Genre: <%= post.genre %></h4>
              <h4 class="info inline">Country: <%= post.country %></h4>
              <h4 class="info">Directors:</h4>
              <p class="text"><%= post.director %></p>
              <h4 class="info">Actors:</h4>
              <p class="text"><%= post.actors %></p>
              <h4 class="info">Description:</h4>
              <p class="text">
                <%= post.about %>
              </p>
              <h4 class="info">My Review:</h4>
              <p class="text">
                <%= post.my_review %>
              </p>
            </div>
          </div>
        </div>
        <% }) %>
      </section>
    </main>
    <script src="/public/js/script.js"></script>
  </body>
</html>
